%h1= t('.Listing_posts')

%table
  %tr
    %th= t('.Title')
    %th= t('.Content')
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.content
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br
= t('.testing_new_keys')

= link_to 'New Post', new_post_path
