- if translations_changes.empty?
  .alert.alert-info
    = t('.no_matches')
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          = t('.key')
        %th
          = t('.locale')
        %th
          = t('.user')
        %th
          = t('.changes')
        %th
          = t('.time')

    %tbody
      - translations_changes.each do |change|
        %tr
          %td
            = link_to change.auditable.key.name, change.auditable.key, target: '_blank'
          %td
            = change.auditable.lang
          %td
            = change.user ? change.user.send(TranslationCenter::CONFIG['identifier_type']) : nil
          %td
            %ul
              - change.audited_changes.each do |change, value|
                %li
                  = format_change(change, value)
          %td
            = time_ago_in_words change.created_at
            = t('.ago')

  = will_paginate translations_changes