%h1
  = t('.dashboard')

.span12
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          = t('.language')
        %th
          = t('.progress')
        %th
          = t('.translated')
        %th
          = t('.pending')
        %th
          = t('.untranslated')


    %tbody
      - @langs.each do |lang|
        %tr
          %td
            = link_to @stats[lang]['name'], set_lang_to_path(lang: lang.to_s)
          %td
            .progress
              .bar.bar-success{ style: "width: #{@stats[lang]['translated_percentage']}%;" }
              .bar.bar-warning{ style: "width: #{@stats[lang]['pending_percentage']}%;" }
              .bar.bar-danger{ style: "width: #{@stats[lang]['untranslated_percentage']}%;" }
          %td
            = "#{@stats[lang]['translated_count']}(#{@stats[lang]['translated_percentage']}%)"
          %td
            = "#{@stats[lang]['pending_count']}(#{@stats[lang]['pending_percentage']}%)"
          %td
            = "#{@stats[lang]['untranslated_count']}(#{@stats[lang]['untranslated_percentage']}%)"
%h1
  = t('.activity')
.span12

  = form_for @search, url: :search_activity, html: { method: :get, id: :search_form, class: 'pull-left form-search' } do |f|
    = f.text_field 'auditable_TranslationCenter::Translation_type_translation_key_name_matches', class: 'search_field input-medium',  placeholder: 'KEY'

    = f.select 'auditable_TranslationCenter::Translation_type_lang_equals', I18n.available_locales.collect { |locale| [locale.to_s, locale.to_s] }, {:include_blank => t('.select_locale')}, class: 'search_field'

    = f.text_field 'user_user_type_email_matches', class: 'search_field input-medium',  placeholder: 'USER'

    = f.text_field :created_at_gteq, class: 'search_field datepicker input-medium',  placeholder: 'FROM DATE'

    = f.text_field :created_at_lteq, class: 'search_field datepicker input-medium', placeholder: 'TO DATE'

    %button.btn#search_activity{ type: :button }
      = t('.search')
    %button.btn#search_reset{ type: :button }
      = t('.reset')
    
  #activity
    = render 'activity', translations_changes: @translations_changes

  

      


  
  