%h1
  = t('.dashboard')

.span12
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          = t('.language')
        %th
          = t('.progress')
        %th
          = t('.translated')
        %th
          = t('.pending')
        %th
          = t('.untranslated')


    %tbody
      - @langs.each do |lang|
        %tr
          %td
            = link_to @stats[lang]['name'], set_lang_to_path(lang: lang.to_s)
          %td
            .progress
              .bar.bar-success{ style: "width: #{@stats[lang]['translated_percentage']}%;" }
              .bar.bar-warning{ style: "width: #{@stats[lang]['pending_percentage']}%;" }
              .bar.bar-danger{ style: "width: #{@stats[lang]['untranslated_percentage']}%;" }
          %td
            = "#{@stats[lang]['translated_count']}(#{@stats[lang]['translated_percentage']}%)"
          %td
            = "#{@stats[lang]['pending_count']}(#{@stats[lang]['pending_percentage']}%)"
          %td
            = "#{@stats[lang]['untranslated_count']}(#{@stats[lang]['untranslated_percentage']}%)"
%h1
  = t('.activity')
.span12
  %form.pull-left.form-search
    = t('.filter_by')
    %select#activity_filter{ name: :filter }
      %option{name: 'key', value: 'key'}
        = t('.key')
      %option{name: 'user', value: 'user'}
        = t('.user')
      %option{name: 'locale', value: 'locale'}
        = t('.locale')
    %input.input-medium.search-query#activity_query{ name: :query, type: :text }
    %button.btn#search_activity{ type: :button }
      = t('.search')
    %button.btn#search_reset{ type: :button }
      = t('.reset')
    
  #activity
    = render 'activity', translations_changes: @translations_changes

  

      


  
  