%h1
  = t('.dashboard')

.span12
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          = t('.language')
        %th
          = t('.progress')
        %th
          = t('.translated')
        %th
          = t('.pending')
        %th
          = t('.untranslated')


    %tbody
      - @langs.each do |lang|
        %tr
          %td
            = link_to @stats[lang]['name'], set_lang_to_path(lang: lang.to_s)
          %td
            .progress
              .bar.bar-success{ style: "width: #{@stats[lang]['translated_percentage']}%;" }
              .bar.bar-warning{ style: "width: #{@stats[lang]['pending_percentage']}%;" }
              .bar.bar-danger{ style: "width: #{@stats[lang]['untranslated_percentage']}%;" }
          %td
            = "#{@stats[lang]['translated_count']}(#{@stats[lang]['translated_percentage']}%)"
          %td
            = "#{@stats[lang]['pending_count']}(#{@stats[lang]['pending_percentage']}%)"
          %td
            = "#{@stats[lang]['untranslated_count']}(#{@stats[lang]['untranslated_percentage']}%)"
%h1
  = t('.activity')
.span12
  %form.pull-left.form-search#search_form
    %input.search_field.input-medium.search-query#activity_key{ name: 'search[auditable_TranslationCenter::Translation_type_translation_key_name_matches]', type: :text, placeholder: 'KEY' }
    %select.search_field{ name: 'search[auditable_TranslationCenter::Translation_type_lang_equals]' }
      %option{name: locale, value: ''}
        = t('.select_locale')
      - I18n.available_locales.each do |locale|
        %option{name: locale, value: locale}
          = locale
    
    %input.search_field.input-medium.search-query#activity_user{ name: 'search[created_at_gteq]', type: :text, placeholder: 'USER' }
    %input.search_field.datepicker.input-medium.search-query#activity_from{ name: 'search[created_at_lteq]', type: :text, placeholder: 'FROM' }
    %input.search_field.datepicker.input-medium.search-query#activity_to{ name: 'search[user_user_type_email_matches]', type: :text, placeholder: 'TO' }

    %button.btn#search_activity{ type: :button }
      = t('.search')
    %button.btn#search_reset{ type: :button }
      = t('.reset')
    
  #activity
    = render 'activity', translations_changes: @translations_changes

  

      


  
  