%h1 Listing articles

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.content
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
