!!!
%html
  %head
    %title TranslationCenter
    = stylesheet_link_tag    "translation_center/application", :media => "all"
    = stylesheet_link_tag    "translation_center/bootstrap"
    = javascript_include_tag "translation_center/application"
    = javascript_include_tag "translation_center/bootstrap"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
          %a.brand{:href => root_url}
            = t('.Translation_Center')
          %ul.nav
            %li.divider-vertical
            %li.dropdown
              %div
                %span
                  Translating from
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  
                  = from_lang
                  %b.caret
                %ul.dropdown-menu
                  - I18n.available_locales.each do |locale|
                    %li
                      %a.language_from{ href: '#'}
                        = locale.to_s
            %li.dropdown
              %div
                %span
                  to
                %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = to_lang
                  %b.caret
                %ul.dropdown-menu
                  - I18n.available_locales.each do |locale|
                    %li
                      %a.language_to{ href: '#'}
                        = locale.to_s



    .container
      .row
        .span12
          = yield
        
