!!!
%html
  %head
    %title TranslationCenter
    = stylesheet_link_tag    "translation_center/application", :media => "all"
    = stylesheet_link_tag    "translation_center/bootstrap"
    = javascript_include_tag "translation_center/application"
    = javascript_include_tag "translation_center/bootstrap"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/translation_center"} Translation Center
          .nav-collapse
            %ul.nav
    .container
      .row
        .span12
          = yield
        
