.well
   
   %h3
      Opps an Error has Occured !
   An error has occurred with
   %a{href: "http://badrit.github.io/translation_center/"}
      translation_center
   , please help us fix this problem by hitting the send button below which will send the exception trace to us in
   %a{href: "http://www.badrit.com/"}
      BadrIT
   or you can open an issue on
   %a{href: "https://github.com/BadrIT/translation_center/issues?state=open"}
      github page of translation_center.
   %br
   %br

   %form{:action => "http://translation-center.herokuapp.com/translation_center_feedbacks", :method => "POST"}
      %fieldset
         .control-group
            %label.control-label{:for => "name"} Name:
            .controls
               %input#name.input-xlarge{:name => "translation_center_feedback[name]", :placeholder => "", :type => "text"}/
         .control-group
            %label.control-label{:for => "email"} Email:
            .controls
               %input#email.input-xlarge{:name => "translation_center_feedback[email]", :placeholder => " ", :type => "text"}/
         .control-group
            %label.control-label{:for => "subject"} Subject:
            .controls
               %input#subject.input-xlarge{:name => "translation_center_feedback[subject]", :placeholder => "", :type => "text", value: "Translation Center Exception (version #{Gem.loaded_specs["translation_center"].version})"}/
         .control-group
            %label.control-label{:for => "message"} Message:
            .controls
               %textarea#message.input-xlarge{:name => "translation_center_feedback[message]", :placeholder => "Your message...", :rows => "3", :style => "margin: 0px; width: 99%; height: 130px; ", cols: 50}
                  = @path
                  &#13;
                  = @exception.message
                  &#13;
                  = "----------------------"
                  &#13;
                  = @exception.backtrace.join("\n")
         %br
         .control-group
            .controls
               %script{:src => "http://www.google.com/recaptcha/api/challenge?k=6Leng90SAAAAAM9pUoRPnx-DO-qQI5XPkqqRTttl", :type => "text/javascript"}
               %script{:src => "http://www.google.com/recaptcha/api/js/recaptcha.js", :type => "text/javascript"}
         
      .form-actions
         %button.btn.btn-warning.btn-large{:type => "submit"} SEND

   %a{href: "http://badrit.com/"}
      = image_tag 'translation_center/badr_it.png'
   %br
   %br
   %p
      %a{href: "http://badrit.github.io/translation_center/"} 
         Translation Center
      is maintained and developed by BadrIT
