%div{ class: "#{index == 0 ? 'tab-pane active' : 'tab-pane' }", id: translation_key.id }
  %p
    .tabbable
      %ul.nav.nav-tabs
        %li.active

          %a{"data-toggle" => "tab", :href => "#translations#{translation_key.id}"}
            - translations_count = translation_key.translations.in(to_lang).count
            - if translation_key.no_translations_in?(to_lang)
              %span.badge.badge-important.pull-left.translations_count
                = translations_count
            - else
              %span.badge.badge-info.pull-left.translations_count
                = translations_count
            %span
              = t('.Translations')

        %li
          %a{"data-toggle" => "tab", :href => "#add_translations#{translation_key.id}"}
            = t('.Add_Translation')
      .tab-content
        .tab-pane.active{ id: "translations#{translation_key.id}"}
          - translation_key.translations.in(to_lang).each do |translation|
            = translation.value
          - if translation_key.translations.in(to_lang).empty?
            .alert.alert-error
              = t('.no_translations_available')
        .tab-pane{ id: "add_translations#{translation_key.id}"}
          %p form to add a translation
