%li{ class: "#{index == 0 ? 'well well-small active translation_key' : 'well well-small translation_key' }", 'data-key-id' => translation_key.id}
  - if translation_key.accepted_in?(to_lang)
    .translation_key_badge.badge-success{title: t('.translated')}
  - elsif translation_key.no_translations_in?(to_lang)
    .translation_key_badge.badge-important{title: t('.untranslated')}
  - else
    .translation_key_badge.badge-warning{title: t('.waiting_acceptance')}
  - if translation_admin?
    %div
      = link_to '×', translation_key_path(translation_key), method: :delete, data: { confirm: t('actions.are_you_sure') }, class: 'close', remote: true

  %a{ href: "##{translation_key.id}", 'data-toggle' => "tab"}
    %p
      %b
        %em
          = t(translation_key.name)
    
    %small
      %div{ 'data-key-id' => translation_key.id, class: "#{translation_admin? ? 'key_editable' : '' }"}
        = translation_key.name
