
.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#translations#{translation_key.id}"}
        Translations
    %li
      %a{"data-toggle" => "tab", :href => "#add_translations#{translation_key.id}"}
        Add Translation
  .tab-content
    .tab-pane.active{ id: "translations#{translation_key.id}"}
      %p= translation_key.id
    .tab-pane{ id: "add_translations#{translation_key.id}"}
      %p asdas
