<h1>Listing translation_keys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Last accessed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translation_keys.each do |translation_key| %>
  <tr>
    <td><%= translation_key.name %></td>
    <td><%= translation_key.category_id %></td>
    <td><%= translation_key.last_accessed %></td>
    <td><%= link_to 'Show', translation_key %></td>
    <td><%= link_to 'Edit', edit_translation_key_path(translation_key) %></td>
    <td><%= link_to 'Destroy', translation_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation key', new_translation_key_path %>
