%a.category{ href: category_path(category) }
  .category_name
    = category.view_name
  %div
    %span.label.label-info
      = category.translation_keys.count
      = t('.keys')
    - completion = category.complete_percentage_in(to_lang)
    %span{ class: completion == 100 ? 'label label-success' : 'label label-important'}
      = "#{completion} %"
      = t('.complete')