.translation_box.thumbnail.clearfix{ id: "translation_id_#{translation.id}", 'data-key-id' => translation.translation_key.id }

  - if translation_admin?
    = link_to '×', translation_path(translation), method: :delete, data: { confirm: t('translation_center.actions.are_you_sure', :default => 'Are you sure?') }, class: 'close', remote: true
  
  .translation_info
    %div{class: "translation_text #{language_direction(to_lang)}"}
      - if translation.translator == current_user
        %a.editable_translation{href: '#', data: {pk: "#{translation.id}", type: 'textarea', url: "#{translation_key_update_translation_path(translation.translation_key)}", accept: "#{current_user.can_admin_translations? && TranslationCenter::CONFIG['accept_admin_translations']}"}}
          = translation.value
      - else
        = translation.value

  .translation_voting
    %smal.translation_creation_info
      = t('.by')
      %i
        - if translation.translator == current_user
          = t('.you')
        - else
          = translation.translator.send(TranslationCenter::CONFIG['identifier_type'])
      = t('.on_date')
      %i
        = format_date(translation.created_at)
    .span2.traslation_actions.pull-right
      %a{href: '#!'}
        - voted = current_user.voted_on?(translation)
        %span.badge.pull-left.translations_vote{ class: "#{voted ? 'badge-success' : ''}", 'data-translation-id' => translation.id,  voted: voted.to_s}
          %em.count{ 'data-translation-id' => translation.id}= translation.votes.count
          .icon-thumbs-up

      %a{href: '#!'}
        - if translation_admin?
          %span.badge.pull-left.accept_action{ 'data-translation-id' => translation.id, class: (translation.accepted? ? 'badge-success':'')}
            .icon-ok
