.well.well-small.translation_box{ id: "translation_id_#{translation.id}" }
  
  %div.translation_info
    %span.pull-left
      = translation.value
    
    - if current_user.respond_to?(:can_admin_translations?) && current_user.can_admin_translations?
      = link_to '×', translation_path(translation), method: :delete, data: { confirm: t('actions.are_you_sure') }, class: 'close', remote: true
    %br
    %small.pull-right
      %em
        = t('.by')
        - if translation.user == current_user
          = t('.you')
        - else
          = translation.user.email
        = t('.on')
        = I18n.localize(translation.created_at, format: '%b, %d %Y')
  %div.translation_voting
    %a{href: '#'}
      - voted = current_user.voted_for?(translation)
      %span.badge.pull-left.translations_vote{ class: "#{voted ? 'badge-success' : ''}", 'translation-id' => translation.id,  voted: voted.to_s}
        - if voted
          = t('.unvote')
        - else
          = t('.vote')
    .votes_count.badge.badge-success
      %span.count{ 'translation-id' => translation.id }
        = translation.votes.count
      = t('.votes')


