<h1>Listing translations</h1>

<table>
  <tr>
    <th>Translation key</th>
    <th>Value</th>
    <th>Lang</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @translations.each do |translation| %>
  <tr>
    <td><%= translation.translation_key_id %></td>
    <td><%= translation.value %></td>
    <td><%= translation.lang %></td>
    <td><%= translation.status %></td>
    <td><%= translation.user_id %></td>
    <td><%= link_to 'Show', translation %></td>
    <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    <td><%= link_to 'Destroy', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Translation', new_translation_path %>
